// Desktop monitors. Keep hardware-specific settings out of common.kdl.
output "Samsung Electric Company LS49AG95 HNTW500047" {
    mode "5120x1440@119.999"
    scale 0.8
    position x=5376 y=000
}

output "Philips Consumer Electronics Company PHL 346E2C UK02522036043" {
    mode "3440x1440@100.000"
    scale 1
}
